/*here the color and size of the heading has been styled*/
h1 {
color: #8B0000 ;
font-size: 20pt;
font-family: Arial;
text-align: center
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #B22222;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* here i have made the footer the full length of the page with a color of green */
footer {
    font-size: 12pt;
    color: white;
    background-color: black;
    padding: 0em;
    margin-top: 1em;
    white-space: pre;
    clear: both; 
	width: 100%;
	top: 1px;
	left: 1px;

}
